{% load humanize instagram_tags %}

<div class="card">
    <div class="card-header">
        <img src="{{ post.author.avatar_url }}" style="width: 32px; height: 32px;" />
        <a href="{% url "instagram:user_page" post.author.username %}">
            {{ post.author.name }}
        </a>
    </div>
    <div class="card-body">
        <img src="{{ post.photo.url }}" style="width: 100%;" />

        <div>
            {% if post|is_like_user:user %}
                <a href="{% url "instagram:post_unlike" post.pk %}" style="color: inherit;">
                    <i class="fa fa-heart"></i>
                </a>
            {% else %}
                <a href="{% url "instagram:post_like" post.pk %}" style="color: inherit;">
                    <i class="fa fa-heart-o"></i>
                </a>
            {% endif %}
        </div>

        <div class="comment-list mt-3 mb-3">
            {% for comment in post.comment_set.all %}
            <div class="comment">
                <strong>{{ comment.author }}</strong>
                {{ comment.message }}
                <small class="text-muted">{{ comment.created_at|naturaltime }}</small>
            </div>
            {% endfor %}
        </div>

        <div>
            {% for tag in post.tag_set.all %}
                <span class="badge badge-primary">
                    #{{ tag.name }}
                </span>
            {% endfor %}
        </div>

        <div>
            <a href="{{ post.get_absolute_url }}" style="" class="text-muted">
                <small>
                    {{ post.created_at|naturaltime }}
                </small>
            </a>
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url "instagram:comment_new" post.pk %}">댓글 쓰기</a>
    </div>
</div>
