{% extends "instagram/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-12">
                <a href="{% url "instagram:post_new" %}" class="btn btn-primary">새 포스팅 쓰기</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                {% for post in post_list %}
                    <div class="mb-3">
                        {% include "instagram/_post_card.html" %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                {% include "instagram/timeline_sidebar.html" %}
            </div>
        </div>
    </div>
{% endblock %}
