
<div class="d-flex p-2 mb-3">
    <div class="mr-2">
        <img src="{{ user.avatar_url }}" style="width: 48px; height: 48px;" class="rounded-circle" />
    </div>
    <div>
        {{ user.username }}<br/>
        <small class="text-muted">{{ user.name }}</small>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header text-muted">
        Stories
    </div>
    <div class="card-body text-muted">
        Stories from people you follow will show up here.
    </div>
</div>

<div class="card mb-3">
    <div class="card-header text-muted">
        Suggestions for you
    </div>
    <div class="card-body text-muted">
        {% include "instagram/timeline_sidebar_user_follow.html" with friend_user=user %}
        {% include "instagram/timeline_sidebar_user_follow.html" with friend_user=user %}
        {% include "instagram/timeline_sidebar_user_follow.html" with friend_user=user %}
    </div>
</div>
