{% extends "instagram/layout.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-sm-3" style="text-align: center;">
                <img src="{{ page_user.avatar_url }}" class="rounded-circle" style="width: 160px;" />
            </div>
            <div class="col-sm-9">
                {{ page_user.username }}
                <a href="{% url "profile_edit" %}" class="btn btn-secondary btn-sm">
                    Edit Profile
                </a>

                {% if is_follow %}
                    <a href="{% url "user_unfollow" page_user.username %}">Unfollow</a>
                {% else %}
                    <a href="{% url "user_follow" page_user.username %}">Follow</a>
                {% endif %}

                <hr/>
                {{ post_list_count }} posts, 0 followers, 0 following
                <hr/>
                {{ page_user.name }}
            </div>
        </div>
        <div class="row mt-3">
            {% for post in post_list %}
                <div class="col-sm-4 mb-3">
                    <img src="{% thumbnail post.photo 512x512 crop %}" alt="{{ post.caption }}" style="width: 100%;%" />
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
